<!DOCTYPE html>
<html ng-app="bookViewer">

<head>
  <script data-require="angular.js@1.3.0-beta.5" data-semver="1.3.0-beta.5" src="https://code.angularjs.org/1.3.0-beta.5/angular.js"></script>
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
  <script src="script.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
</head>

<body ng-controller="MainController">
  <h2>{{message}}</h2>

  {{ countdown }}
  <form class="" name="searchBooks" ng-submit="search(searchterm)">
    <h3>Search for a new book</h3>
    <input type="search" required placeholder="Nathan's search box" ng-model="searchterm" />
    <input type="submit" value="Search" />
    <select ng-model="bookSortOrder">
      <option value="">None</option>
      <option value="volumeInfo.publishedDate">Date [Ascending]</option>
      <option value="-volumeInfo.publishedDate">Date [Descending]</option>
      <option value="volumeInfo.title">Title</option>
    </select>
  </form>


  <div>{{ error }}</div>
  <br/>
  <hr>

  <div ng-include="'bookdetails.html'" ng-show="books"></div>

</body>

</html>